<%inherit file="base.htm" />

<%block name="content">
	<h1>User Login</h1><span id="id_username_message"></span>
	<div id="login_form_container">
		<form id="login_form" class="form-inline" action="/account/login.login_form/" method="POST">
			<table class="form-group">
				${ form }
			</table>
			<input type="submit" class="btn btn-default">
		</form>
	</div>
	
	<br/>
	<br/>
	<br/>
	<span id="text">
		Don't have an account?
		<!-- Button trigger modal -->
		<a href="/account/users.create/">
			<button type="button" class="btn btn-primary" id="create_user_dialog">
			  Click Here
			</button>
		</a>
	</span>
	<span id="text">
		Forgot your password?
		<!-- Button trigger modal -->
		<a href="/account/change_password">
			<button type="button" class="btn btn-danger" id="change_password">
			  Click Here
			</button>
		</a>
	</span>
	
	<!-- Modal -->
	<div class="modal fade" id="login_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Create Account</h4>
		  </div>
		  <div class="modal-body">
			...
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary">Save changes</button>
		  </div>
		</div>
	  </div>
	</div>

</%block>