<%inherit file="base.htm" />

<%block name="content">
		<h1>Users</h1>
		<table class="table table-striped table-bordered">
		<tr>
			<th>ID</th>
			<th>Username</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Security Question</th>
			<th>Security Answer</th>
			<th>Phone</th>
			%if request.user.has_perm('homepage.is_admin'):
				<th>Actions</th>
			%endif
		<tr>
		%for user in users:
			<tr>
				<td>${user.id}</td>
				<td>${user.username}</td>
				<td>${user.first_name}</td>
				<td>${user.last_name}</td>
				<td>${user.email}</td>
				<td>${user.security_question}</td>
				<td>${user.security_answer}</td>
				<td>${user.phone}</td>
				%if request.user.has_perm('homepage.is_admin'):
					<td>
						<a href="/account/users.edit/${ user.id }/">Edit</a>
						| 
						<a href="/account/users.delete/${ user.id }/">Delete</a>
					</td>
				%endif
			<tr>
		%endfor
	</table>	
	<div class="text-right">
		<a class="btn btn-primary" href="/account/users.create/">Create New User</a>
	</div>
</%block>