.product_container{
	display: inline-block;
	border: 1px solid;
	border-radius: 4px;
	margin: 12px;
	padding: 3px;
	width:300px;
}

.product_container > img{
	max-height: 180px;
}

.product_name{
	text-align: center;
	font-weight: bold;
	font-size:1.3em
}

#submit_btn{
	text-align: right;
}

#open_search_dialog{
	cursor: pointer;
}

.product_info{
	padding: 12px;
}

.product_attribute{
	font-weight: bold;
}
#search_box{
	display:inline;
}
#username{
	display:inline;
}
.nav_btn{
	float:right;
}