<%inherit file="base_ajax.htm" />

<%block name="content">
	<h1>Thank you for your purchase!</h1>
	<h2>Items Purchased:</h2>
	%for item in items:
		<h4>Item: ${item.name}</h4>
		<p>Quantity: ${ shopping_cart[ str(item.id) ]}</p>
		<p>Price: ${int(item.price) * int(shopping_cart[ str(item.id) ])}</p><br>
	%endfor
	<h2>Shipping Address:</h2>
	<p>Street: ${billing_info[0]}</p>
	<p>City: ${billing_info[1]}</p>
	<p>State: ${billing_info[2]}</p>
	<p>Zip Code: ${billing_info[3]}</p>
	<h2>Billing Info:</h2>
	<p>Card Number: ${billing_info[4]}</p>
	<p>Expiration: ${billing_info[5]}</p>
	<p>CVC Number: ***</p>
	<p>Total Cost: $ ${ total_price }.00</p>
	
	<a href="/catalog/products.delete_cart" id="close_btn" class="btn btn-success">Close</a>
</%block>