<%inherit file="base.htm" />

<%block name="content">

	%for product in products:
		<div class="product_container">
			%for product_info in products_info:
				%if product_info.id == product.product_specification_id:
					<img src="${ STATIC_URL }catalog/media/${ product_info.id }.jpg"/>
					<div class="product_name">
						${product_info.name}
					</div>
				%endif
			%endfor
			<div class="text-right">
				<button id="submit_btn" class="btn btn-warning">Add to Cart</button>
			</div>
		</div>
	%endfor
</%block>