<%inherit file="base.htm" />

<%block name="content">
	<h1>Checkout</h1>
	<h2>Items currently in your cart:</h2><br/>
	<div class="shopping_cart">
		%for item in items:
			<div id="product_container">
				%for info in product_info:
					%if info.id == item.product_specification_id:
						<img src="${ STATIC_URL }catalog/media/${ info.id }.jpg"/>
						<div data-id="${ item.id }" class="product_name">
							${info.name}
						</div>
					%endif
				%endfor
				Quantity: ${ shopping_cart[ str(item.id) ]}
				<span class="btn btn-danger">
					<p data-id="${ item.id }" class="delete_btn" >Delete</p>
				</span>
			</div>
		%endfor
	</div>
	<span class="text-right">
		<button id="check_out_btn" class="btn btn-warning">Complete Purchase</button>
	</span>
	
</%block>