<%inherit file="base.htm" />

<%block name="content">
	<h1>Checkout</h1>
	<h2>Items currently in your cart:</h2><br/>
	<div class="shopping_cart">
		%for item in items:
			<div id="product_container">
				<img src="${ STATIC_URL }catalog/media/${ item.id }.jpg"/>
				<div data-id="${ item.id }" class="product_name">
					${item.name}
				</div>
				Quantity: ${ shopping_cart[ str(item.id) ]}<br>
				Price: ${item.price}
				Total: ${int(item.price) * shopping_cart[ str(item.id) ]}
				<span class="btn btn-danger">
					<p data-id="${ item.id }" class="delete_btn" >Delete</p>
				</span>
			</div>
		%endfor
	</div>
	<div class="shopping_cart_info">
		Total Cost: ${ total_price }
	</div>
	<span class="text-right">
		<button id="check_out_btn" class="btn btn-warning">Complete Purchase</button>
	</span>
	<span class="text-right">
		<a href="/catalog/products/">
			<button id="check_out_btn" class="btn btn-success">Keep Shopping</button>
		</a>
	</span>
</%block>