<%inherit file="base_ajax.htm" />

<%block name="content">
	Checking out for: ${customer.first_name}<br>
	%for item in items:
		<div id="product_container">
			<img src="${ STATIC_URL }catalog/media/${ item.id }.jpg"/>
			<div data-id="${ item.id }" class="product_name">
				${item.name}
			</div>
			Quantity: ${ rental_cart[ str(item.id) ]}<br>
			Due Date: ${ due_date }
			<span class="btn btn-danger">
				<p data-id="${ item.id }" class="delete_btn" >Delete</p>
			</span>
		</div>
	%endfor
	<span class="text-right">
		<a href="/catalog/products.rental_checkout/${customer.id}/${due_date}">
			<button id="check_out_btn" class="btn btn-warning">Check Out</button>
		</a>
	</span>
	<span class="text-right">
		<a href="/catalog/products.rentals/">
			<button id="check_out_btn" class="btn btn-success">Keep Shopping</button>
		</a>
	</span>
</%block>
