<%inherit file="/base_app/templates/base.htm" />

<!DOCTYPE html>
<html>
	<body>
		<div class="container-fluid"
			<div class="row">
				<div class="col-md-2 left-menu">
					<%block name="nav">
						<div class="sidebar-nav">
						  <ul class="nav nav-pills nav-stacked">
							<li role="presentation" class="active">
							<a href="/homepage/">
								<span id="nav-glyphicon" class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
							</a>
							</li>
							
							<li role="presentation">
								<a href="/catalog/products/">
									<span id="nav-glyphicon" class="glyphicon glyphicon-tag" aria-hidden="true"></span> Store
								</a>
							</li>
							<li role="presentation">
								<a href="/homepage/info/">
									<span id="nav-glyphicon" class="glyphicon glyphicon-globe" aria-hidden="true"></span> Event Info
								</a>
							</li>
							%if request.user.has_perm('homepage.is_manager'):
								<li role="presentation">
									<a href="/homepage/items/">
										<span id="nav-glyphicon" class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Items
									</a>
								</li>
								<li role="presentation">
								<a href="/homepage/products/">
									<span id="nav-glyphicon" class="glyphicon glyphicon-gift" aria-hidden="true"></span> Products
								</a>
								</li>
								<li role="presentation">
									<a href="/homepage/users/">
										<span id="nav-glyphicon" class="glyphicon glyphicon-user" aria-hidden="true"></span> Users
									</a>
								</li>
								<li role="presentation">
									<a href="/homepage/transactions/">
										<span id="nav-glyphicon" class="glyphicon glyphicon-time" aria-hidden="true"></span> Transactions
									</a>
								</li>
								<li role="presentation">
									<a href="/homepage/orders/">
										<span id="nav-glyphicon" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Orders
									</a>
								</li>
								<li role="presentation">
									<a href="/homepage/events/">
										<span id="nav-glyphicon" class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Events
									</a>
								</li>
								<li role="presentation">
									<a href="/homepage/batch_processes/">
										<span id="nav-glyphicon" class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> Reports
									</a>
								</li>
							%endif
							
							<li role="presentation">
								<a href="/homepage/about/">
									<span id="nav-glyphicon" class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> About Us	
								</a>
							</li>
							<li role="presentation">
								<a href="/homepage/contact/">
									<span id="nav-glyphicon" class="glyphicon glyphicon-comment" aria-hidden="true"></span> Contact
								</a>
							</li>
							<li role="presentation">
								<a href="/homepage/Terms/">
									<span id="nav-glyphicon" class="glyphicon glyphicon-th" aria-hidden="true"></span> Terms
								</a>
							</li>
						  </ul>
						</div>
					</%block>
				</div>	
			</div>
		</div>
	</body>	
</html>

## render the JS with the same name as this page
    ${ static_renderer.get_template_js(request, context)  }