<%inherit file="base.htm" />

<%block name="content">
	<h1>Overdue Rentals</h1><br/>
	<table class="table table-striped">
		<tr>
			<th>Product ID:</th>
			<th>Product Name:</th>
			<th>Renter:</th>
			<th>Due Date:</th>
		</tr>
			%for overdue_item in overdue_items: ##gets all overdue items
				%for overdue_item_info in overdue_items_info:
					%if overdue_item.rentable_product_id == overdue_item_info.id:
						<tr>
							<td>${overdue_item_info.id}</td>
							<td>${overdue_item_info.name}</td>
							<td>${overdue_item_info.order_form_name}</td>
							<td>${overdue_item.date_due}</td>
						</tr>
					%endif
				%endfor
			%endfor
	</table>
</%block>