<%inherit file="base.htm" />

<%block name="content">
	<h1>Batch Processes</h1><br/>
	<a href="/homepage/batch_processes.overdue_rentals/">
		<button class="btn btn-primary">
			All Overdue Rentals
		</button>
	</a>
	<a href="/homepage/batch_processes.over_30/">
		<button class="btn btn-primary">
			30 Days Overdue
		</button>
	</a>
	<a href="/homepage/batch_processes.over_60/">
		<button class="btn btn-primary">
			60 Days Overdue
		</button>
	</a>
	<a href="/homepage/batch_processes.over_90/">
		<button class="btn btn-primary">
			90 Days Overdue
		</button>
	</a>
	<a href="/homepage/batch_processes.email_users/">
		<button class="btn btn-success">
			Send Email Reminder
		</button>
	</a><br><br>
	<h3>Emails sent to:</h3>
	<ul>
		%for email in emails:
			<li>${ email }</li>
		%endfor
	</ul>
</%block>