<%inherit file="base.htm" />

<%block name="content">
	<div class="event_instance">
		<h1>${event.name}</h1>
		<h3>${event.description}</h3>
		<p>From ${event.start_date} to ${event.end_date}</p>
		<p>At ${event.venue_name}, ${event.address}</p>
		%for area in areas:
			<p>Area: ${area.area_name}</p>
			<p>Description: ${area.description}</p>
			%for sale_item in sale_items:
				%if sale_item.area_id == area.id:
					<p>Item For Sale: ${ sale_item.name }</p>
				%endif
			%endfor
		%endfor	
	</div>
</%block>