<%inherit file="base.htm" />

<%block name="content">
	<h1>Items</h1>
	<table class="table table-striped table-bordered">
		<tr>
			<th>ID</th>
			<th>Quantity on Hand</th>
			<th>Replacement Price</th>
			<th>Shelf Location</th>
			<th>Order File</th>
			<th>Serial Number</th>
			<th>Date Acquired</th>
			<th>Status</th>
			<th>For Sale</th>
			<th>Rentable</th>
			<th>Notes</th>
			<th>Times Rented</th>
			<th>Price Per Day</th>
			<th>Replacement Price</th>
			%if request.user.has_perm('homepage.is_manager'):
				<th>Actions</th>
			%endif
		</tr>
		%for item in items:
			<tr>
				<td>${item.id}</td>
				<td>${item.quantity_on_hand}</td>
				<td>${item.shelf_location}</td>
				<td>${item.order_file}</td>
				<td>${item.serial_number}</td>
				<td>${item.date_acquired}</td>
				<td>${item.cost}</td>
				<td>${item.status}</td>
				<td>${item.for_sale}</td>
				<td>${item.is_rentable}</td>
				<td>${item.notes}</td>
				<td>${item.times_rented}</td>
				<td>${item.price_per_day}</td>
				<td>${item.replacement_price}</td>
				%if request.user.has_perm('homepage.is_manager'):
					<td>
						<a href="/homepage/items.edit/${item.id}/">Edit </a>
						|
						<a href="/homepage/items.delete/${item.id}/">Delete</a>
					</td>
				%endif
			</tr>
		%endfor
	</table>
	%if request.user.has_perm('homepage.is_manager'):
		<div class="text-right">
			<a class="btn btn-primary" href="/homepage/items.create/">Add Product</a>
		</div>
	%endif
</%block>