<%inherit file="base.htm" />

<%block name="content">
	<h1>Orders</h1>
	<table class="table table-striped table-bordered">
		<tr>
			<th>ID</th>
			<th>Order Date</th>
			<th>Date Packed</th>
			<th>Date Paid</th>
			<th>Date Shipped</th>
			<th>Tracking Number</th>
			%if request.user.has_perm('homepage.is_manager'):
				<th>Actions</th>
			%endif
		</tr>
		%for order in orders:
			<tr>
				<td>${order.id}</td>
				<td>${order.order_date}</td>
				<td>${order.date_packed}</td>
				<td>${order.date_paid}</td>
				<td>${order.date_shipped}</td>
				<td>${order.tracking_number}</td>
				%if request.user.has_perm('homepage.is_manager'):
					<td>
						<a href="/homepage/orders.edit/${order.id}/">Edit </a>
						| 
						<a href="/homepage/orders.delete/${order.id}/">Delete</a>
					</td>
				%endif	
			</tr>
		%endfor
	</table>
	<div class="text-right">
		<a class="btn btn-primary" href="/homepage/orders.create/">Create New Order</a>
	</div>
</%block>