User-agent: *<br>
Disallow: /account/media/<br>
Disallow: /base_app/media/<br>
Disallow: /catalog/media/<br>
Disallow: /homepage/media/<br>
Disallow: /account/__pycache__<br>
Disallow: /base_app/__pycache__<br>
Disallow: /catalog/__pycache__<br>
Disallow: /homepage/__pycache__<br>
Disallow: /account/cached_templates<br>
Disallow: /base_app/cached_templates<br>
Disallow: /catalog/cached_templates<br>
Disallow: /homepage/cached_templates<br>
Disallow: /.gitattributes<br>
Disallow: /.gitignore<br>
Disallow: /init_db<br>
Disallow: /manage
